@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
/* font-family: 'Lobster', ; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: cursive;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Lobster";
  font-size: 4rem;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-nav {
  width: 100%;
  height: 10rem;
  padding: 0 2.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.logo a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
  letter-spacing: 1px;
  outline: 2px solid #eee;
  padding: 1rem 2rem;
}

.hamburger-menu {
  height: 5rem;
  width: 5rem;
  background-color: #eee;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 1rem #cacaca, -0.5rem -0.5rem 1rem #fff;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 2000;
}

.hamburger-menu:hover {
  box-shadow: inset 0.5px 0.5rem 1rem #cacaca, inset -0.5rem -0.5rem 1rem #fff;
}

.bar {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bar::before {
  top: -0.8rem;
}

.bar::after {
  top: 0.8rem;
}

/* styles that will transform this into an x when clicked */
.open .bar {
  background-color: transparent;
}
.open .bar::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.open .bar::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* navList */
.nav-list {
  width: 50rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  -webkit-transform: translateX(55rem);
  transform: translateX(55rem);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 1500;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.open .nav-list {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav-item {
  list-style: none;
  border-bottom: 2px solid crimson;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: #333;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav-link:hover {
  color: crimson;
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url(/img/boo.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/img/boo.jpg) no-repeat center center/cover;
  position: relative;
}

.hero-clipped {
  width: 60%;
  height: inherit;
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);

  /* gsap animation check doc */
  -webkit-transform-origin: right;
  transform-origin: right;
}

.hero-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  color: #333;
  z-index: 29;
}

.main-heading {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1rem;
}
.sub-heading {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.cta-btn {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: crimson;
  padding: 1rem 4rem;
  margin-top: 5rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.cta-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.cta-btn:hover::after {
  -webkit-transform: scaleX(1.2) scaleY(1.6);
  transform: scaleX(1.2) scaleY(1.6);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* //Media-queries */
@media screen and (max-width: 1400px) {
  .hero-clipped {
    width: 100%;
    height: 75vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  }

  .logo a {
    color: #333;
    outline-color: #333;
  }
}

@media screen and (max-width: 760px) {
  .nav-list {
    width: 30rem;
  }

  .main-heading {
    font-size: 4rem;
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  .cta-btn {
    padding: 1rem 2.5rem;
  }

  @media screen and (max-width: 550px) {
    .main-heading {
      font-size: 2.5rem;
    }

    .sub-heading {
      font-size: 1rem;
    }

    .cta-btn {
      margin-top: 3rem;
    }
  }
}
